body {
  color: #006666;
  background-image: url('../images/seamless_paper_texture.png');
  background-repeat:repeat;
  font-family: 'Handlee', cursive;
}

 nav {
  padding-top: 10px;
  display: inline-block;
 }

header {
  text-align: center;
  margin-top: 50px;
  margin-right: 155px;
  margin-left: 160px;
  outline: solid black 2px;
  padding: 5px;

}
 
header h1{
  font-size: 48px;
  font-weight: bold;
 }
 
header h1{
 	font-size: 48px;
 }

h2{ 
 	font-size: 30px;
 	padding-top: 25px;
 	padding-bottom: 25px;
 }

h3 {
	text-align: center;
	font-size: 24px;
	padding-bottom: 50px;
  padding-top: 50px;
  font-weight: bold;
  text-decoration: underline;
}

h4 {
	text-align: center;
 	text-decoration: underline;
 	font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
 }


#ingredients li {
	padding: 10px;
}

#about, #ingredients {
	float: left;
 	font-size: 16px;
 }

 #ingredients {
  width:30%;
 	margin-left: 15%;
 	margin-right: 10%;

 }

#about {
  width:30%;
	margin-left: 15%;
  margin-top:5%;
}

#serving {
  margin-left: 15%;
  font-weight: bold;
  font-size: 20px;
  text-decoration: underline;
}

#about p {
  padding: 3px;
}

#about img{
  width:100%;
}

#instructions {
	clear:right;
	width:30%;
	text-align: left;
	float:right;
	margin-right: 10%;
	margin-top: 20px;
  font-size: 16px;
}

form{
  float:left;
  width:100%;
}

span {
  float:left;
  width:90%;
  margin-bottom:10px;
}

input {
  float:left;
  width:5%;
  margin-bottom:10px;
}


#tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  display: block;
  background: #4B4B4B;
  position: relative;
  z-index: 500;
  margin: 0 1px;
  padding: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#tabs li a {
  display: block;
  padding: 5px 6px 0 6px;
  font-weight: 700;
  height: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

#tabs ul {
  position: absolute;
  left: 0;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
}

#tabs ul li {
  float: left;
  border-top: 1px solid #fff;
  width: 100%;
  white-space: nowrap;
  padding: 5px;
}

#tabs ul a {
  display: block;
  height: 15px;
  padding:  10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

#nav a:hover {
  text-decoration: none;
  background-color: gray;
  float:left;
  position: relative;
}

#instructions .item {
  cursor: pointer;
}

.done {
  color: #ccc;
  text-decoration: line-through;
}

.done:checked + span{
  text-decoration:line-through
}

