body {
	color: #669999;
  background-image: url('../images/seamless_paper_texture.png');
  background-repeat:repeat;
  font-family: 'Handlee', cursive;
}

/*I haven't figured out why this background isnt working yet*/

/*I'm trying to get tabs that look like this 
https://css-tricks.com/better-tabs-ith-round-out-borders/, but I don't really
understand the Pseudo-elements that they're talking about*/

 nav {
 	padding-top: 10px;
  display: inline-block;
 }

header {
	text-align: center;
	margin-top: 50px;
	margin-right: 155px;
	margin-left: 160px;
  outline: solid black 2px;
  padding: 5px;

}
 
 header h1{
 	font-size: 48px;
 	font-weight: bold;
 }

 header h2 {
  font-weight:bold;
 }

#carousel-example-generic{
  margin-top: 50px;
}

.carousel {
    margin: 0 auto;
    width: 40%;
}

.carousel img {
    width: 74%;
    margin-left: 13%;
}

.carousel-caption{
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 2px 2px 8px gray;
  color:black;
}

#tabs {
  margin: 0;
  padding: 0;
  list-style: none;
}

#tabs li {
  float: left;
  display: block;
  background: #4B4B4B;
  position: relative;
  z-index: 500;
  margin: 0 1px;
  padding: 3px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#tabs li a {
  display: block;
  padding: 5px 6px 5px 6px;
  font-weight: 700;
  height: 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

#tabs ul {
  position: absolute;
  left: 0;
  display: none;
  margin: 0 0 0 -1px;
  padding: 0;
  list-style: none;
}

#tabs ul li {
  float: left;
  border-top: 1px solid #fff;
  width: 100%;
  white-space: nowrap;
  padding: 5px;
}

#tabs ul a {
  display: block;
  height: 15px;
  padding:  10px;
  color: #fff;
  text-align: center;
  font-size: 14px;
}

#nav a:hover {
  text-decoration: none;
  background-color: gray;
  float:left;
  position: relative;
}


.about {
  text-align: center;
  font-size: 1.5em;
  width:40%;
  margin-left:30%;
}

.item img {
  opacity: 0.5;
  height: 500px;
}

.carousel-inner>.item>a>img{
  height:300px;
}
